---
import {createTopic} from "../../utils/db";

if (Astro.request.method === 'POST') {
	const formData = await Astro.request.formData();
	const title = formData.get('title');
	const newTopicId = createTopic({title});
	return Astro.redirect(`/topics/${newTopicId}/`);
	// TODO: create the topic here. redirect to the new topic page after.
}
---

<h1>Topics</h1>
<p>TODO: index page</p>

<p>TODO: create new topic here.<p>
