---
const topicId = Astro.params.topicId;
const episodeId = Astro.params.episodeId;

// TODO: lookup the episode data.
---

<h1>Topic episode</h1>

<p>TODO: here you would have the MP3 if the episode has been processed</p>

<p>TODO: here you would have a preview of the script if the episode has not been processed yet. You would have a button to process the episode</p>
