---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Topics</h2>
		<p>TODO: list of topics here.</p>
		<h3>Create a new topic</h3>
		<form method="POST" action="/topics">
			<label for="title-input">Title</label>
			<input name="title" id="title-input" />
			<button>Create</button>
		</form>
	</body>
</html>
