---
const topicId = Astro.params.topicId;

// TODO: lookup the topic data here.
---

<h1>Topic</h1>

<p>TODO: topic data goes here.</p>

<h2>Articles</h2>

<p>TODO: search for wiki articles here.</p>
