---
import Dump from "@src/components/Dump.astro";
import {getTopicById} from "@src/utils/db";

const topicId = Astro.params.topicId;
const topic = getTopicById(topicId);
---

<h1>Topic: {topic.title}</h1>

<form action="/articles/search/">
	<button name="q" value={topic.title}>Jump to article search</button>
</form>

<Dump data={topic} />

<h2>Episodes</h2>

<p>TODO: show list of episodes related to topic here.</p>
